:root{
    --blue: #d2e3fd;
    --pink: #f9d2cc;
    --light-pink: #f9d1ccb4;
    --dark-pink: #e0bdb8;
    --gray: gray;
    --light-gray: #fafafa;
    --dark-gray: #d8d8d8;
    --shiny-blue: #1a73e8;
    --fuchsia: #ff165e;
    --yellow: #fdeec5;
    --steal: #bac8c9;
    --green: #d3ecdc;
    --black: #3c4043;

    --line-space: calc(100vw / 48);
    --big-logo-size: calc(var(--line-space) * 6.5);

    --form-item-color: rgba(0, 0, 0, 0.05);

    --main-animation-delay: .5s;




    --padding: 3%;
    --menu-height: 3.5rem;
    --portfolio-media-width: 28vw;
}

html,
body{
    margin: 0;
    padding: 0;
}

body.no-scroll{
    overflow: hidden;
}

*, ::before, ::after{
    box-sizing: border-box;
}

p{
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: var(--black);
}

@font-face{
    font-family: 'GoogleSans-Regular';
    src: url(../fonts/googlesans/GoogleSans-Regular.ttf) format('truetype');
}

@font-face{
    font-family: 'GoogleSans-Medium';
    src: url(../fonts/googlesans/GoogleSans-Medium.ttf) format('truetype');
}

@font-face{
    font-family: 'GoogleSans-Bold';
    src: url(../fonts/googlesans/GoogleSans-Bold.ttf) format('truetype');
}

@font-face{
    font-family: 'P22-Bifur-W00-C';
    src: url(../fonts/bifur/P22-Bifur-W00-C.ttf) format('truetype');
}

p{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

p.xxs,
input.xxs,
textarea.xxs{
    font-size: .6rem;
}

p.xs,
input.xs,
textarea.xs{
    font-size: .7rem;
}

p.sm,
input.sm,
textarea.sm{
    font-size: .8rem;
}

p.md,
input.md,
textarea.md{
    font-size: 1rem;
}

p.lg,
input.lg,
textarea.lg{
    font-size: 1.6rem;
}

p.xlg,
input.xlg,
textarea.xlg{
    font-size: 2.6rem;
}

p.f-primary{
    font-family: 'P22-Bifur-W00-C';
}

p.f-secondary{
    font-family: 'GoogleSans-Regular';
}

p.f-secondary-medium{
    font-family: 'GoogleSans-Medium';
}


p.f-secondary-bold{
    font-family: 'GoogleSans-Bold';
}

p.upper{
    text-transform: uppercase;
}

p.gray{
    color: var(--gray);
}

p.light-gray{
    color: var(--light-gray);
}

p.pink{
    color: var(--pink);
}

p.blue{
    color: var(--blue);
}

p.yellow{
    color: var(--yellow);
}

p.green{
    color: var(--green);
}

p strong{
    font-family: 'GoogleSans-Medium';
}

p strong.link{
    cursor: pointer;
}

.bg-lightgray{
    background-color: var(--light-gray);
}

.w-1{
    width: calc(100% / calc(12 / 1)) !important;
}

.w-2{
    width: calc(100% / calc(12 / 2)) !important;
}

.w-3{
    width: calc(100% / calc(12 / 3)) !important;
}

.w-4{
    width: calc(100% / calc(12 / 4)) !important;
}

.w-5{
    width: calc(100% / calc(12 / 5)) !important;
}

.w-6{
    width: calc(100% / calc(12 / 6)) !important;
}

.w-9{
    width: calc(100% / calc(12 / 9)) !important;
}

.w-12{
    width: calc(100% / calc(12 / 12)) !important;
}

.btn{
    min-height: 2.5rem;
    background-color: var(--shiny-blue);
    border-radius: .2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: .2rem;
    cursor: pointer;
    transition: background-color .5s ease, box-shadow .2s ease;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.btn p{
    color: white;
}

.btn-bordered{
    background-color: transparent;
    border: 2px solid #1a73e8a1;
    padding: .5rem;
    transition: border .3s ease;
}

.btn-bordered p{
    color: #1a73e8a1;
    transition: color .3s ease;
}

.btn-bordered:hover{
    border: 2px solid var(--shiny-blue);
}

.btn-bordered:hover p{
    color: var(--shiny-blue);
}

.btn-transparent{
    min-height: 0rem;
    background-color: transparent;
    padding-left: 0rem;
    padding-right: 0rem;
    margin: 0rem;
}

.btn-transparent p{
    color: var(--black);
}

.main-content{
    position: relative;
    width: 100vw;
    min-height: 100vh;
    background-color: white;
    padding-top: calc(var(--padding)*.7);
}

.main-menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--menu-height);
    background-color: white;
    box-shadow: 0px 2px 6px 0px rgba(0,0,0,.12);
    padding-left: var(--padding);
    padding-right: var(--padding);
    z-index: 100;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.main-menu .logo{
    width: 5%;
    height: 100%;
    min-width: 3.5rem;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.main-menu .logo img{
    width: 60%;
    object-fit: contain;
}

.main-menu .logo-name{
    margin-left: -.5rem;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.main-menu .logo-name{
    width: 7%;
    

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.main-menu .logo-name p{
    padding-left: .1rem;
    color: #8ee5db !important
}

.menu-links{
    width: 58%;
    height: 100%;
    opacity: 1;
    transition: opacity .3s ease;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.menu-links.hidden{
    opacity: 0;
}

.menu-btn{
    padding-left: .7rem;
    padding-right: .7rem;
    height: 100%;
    cursor: pointer;
    opacity: .7;
    transition: opacity .5 ease, background-color .5s ease;
    
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.menu-btn:hover{
    background-color: var(--light-gray);
}

.menu-btn.active{
    background-color: var(--light-gray);
    opacity: 1;
}

.search-wrapper{
    position: fixed;
    top: 0%;
    left: calc(50% - 15vw);
    width: 30vw;
    height: var(--menu-height);
    z-index: -1;
    opacity: 0;
    padding: 3px;
    transition: z-index .3s ease, opacity .3s ease;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.search-wrapper.active{
    z-index: 200;
    opacity: 1;
}

.search-box{
    width: 100%;
    height: 100%;
    padding-top: .8rem;
    padding-bottom: .8rem;
    background-color: var(--light-gray);

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.search-box input{
    width: 80%;
    height: 100%;
    background-color: var(--form-item-color);
    border: none;
    color: var(--black);
    caret-color: var(--black);
    font-size: .8rem;
    font-family: 'GoogleSans-Regular';
    outline: none;
    padding: .5rem;
    border-radius: 5px;
    -webkit-font-smoothing: antialiased;
    background-color: transparent;
}

.search-icon{
    width: 10%;
    height: 100%;
    cursor: pointer;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.search-icon svg{
    width: 100%;
    height: 100%;
}

.links-wrapper{
    width: 30%;
    height: 100%;
    /* background-color: blue; */

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
}

.btn-icon{
    position: relative;
    width: 8%;
    min-width: 1.5rem;
    margin-left: 7%;
    cursor: pointer;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.btn-icon svg{
    width: 100%;
    height: 100%;
    fill: var(--gray);
    transition: fill .5s ease;
}

.btn-icon:hover svg,
.btn-icon.active svg{
    fill: var(--shiny-blue);
}

.btn-icon .cart-counter{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 75%;
    height: 75%;
    transform: translate(20%, -50%);
    border-radius: 50%;
    background-color: var(--shiny-blue);
    border: 2px solid white;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.btn-icon .cart-counter p{
    color: white;
}

.main{
    padding: var(--padding);
}

.main-products{
    width: 100%;
    min-height: 10rem;
    /* background-color: red; */
    /* padding: var(--padding); */

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.filter-products{
    width: 25%;
    min-height: 5rem;
    background-color: yellow;
    align-self: flex-start
}

.portfolio-products{
    width: 75%;
    min-height: 5rem;
    /* background-color: green; */

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.product-item{
    width: calc(100% / 3);
    min-height: 1rem;
    /* background-color: blue; */
    /* border: 1px solid orange; */
    padding-left: .5rem;
    padding-right: .5rem;
    margin-bottom: 3rem;
    cursor: pointer;
}


.product-img{
    width: 100%;
    width: 22vw;
    height: 22vw;
    min-height: 3rem;
    margin-top: 1rem;
    background-color: var(--light-gray);
    /* background-color: red; */
    /* border: 1px solid black; */
}

.product-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.product-recycle{
    width: 100%;
    min-height: 3rem;
    background-color: var(--light-gray);
    /* border: 1px solid black; */
    padding: 1rem;


    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.recycle-icon{
    width: 3.5rem;
    height: 3.5rem;
    padding: .5rem;
    margin-right: .25rem;
    margin-bottom: .25rem;
    border-radius: 50%;
    background-color: green;
}

.recycle-info{
    /* padding: .5rem; */
    margin-right: .25rem;
    margin-bottom: .25rem;
    /* border-radius: 3px; */
    /* background-color: yellow; */

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.recycle-info svg{
    width: 30%;
    margin-right: .1rem;
}

.product-detail{
    width: 100%;
    margin-top: 1rem;
    padding-left: .2rem;
    padding-right: .2rem;
    /* background-color: var(--light-gray); */
    /* border: 1px solid black; */

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.product-detail p:nth-child(1){
    width: 70%;
}

.product-detail p:nth-child(2){
    width: 30%;
    text-align: right;
}

.product-detail.recycle-change{
    margin-top: .5rem;
    margin-bottom: 1rem;
    flex-direction: column;

    display: none;
}

.product-detail.recycle-change p{
    width: 100%;
    text-align: right;
}

.product-item .btn{
    margin-top: 1rem;
    width: 30%;
    float: right;
}

.main-checkout{
    position: fixed;
    top: var(--menu-height);
    left: 0;
    width: 100%;
    min-height: 10rem;
    transform: translateY(-100%);
    opacity: 0;
    transition: transform .3s ease, opacity .3s ease, z-index .3s ease;
    z-index: -1;
}

.main-checkout.active{
    transform: translateY(0%);
    opacity: 1;
    z-index: 99;
    /* overflow-y: scroll; */
    height: 75vh;
}

.checkout-inner{
    width: 100%;
    min-height: calc(50vh - var(--menu-height));
    background-color: var(--light-gray);

    transform: translateY(-100%);
    opacity: 0;
    transition: transform .3s ease, opacity .3s ease;
    
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.checkout-inner.active{
    transform: translateY(0%);
    opacity: 1;
}

.cart{
    width: 70%;
    min-height: 10rem;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

p.cart-header{
    margin-top: 2rem;
}

.pos-info{
    width: 100%;
    /* min-height: 10rem; */
    margin-top: 1rem;
    margin-bottom: 4rem;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.pos-info-centered .pos-info{
    justify-content: center;
}

.pos-info-centered .cart-header{
    padding-left: 16.5%;
}

.pos-lines{
    width: calc(100% * 2 / 3);
    min-height: 6rem;
    border-radius: 2px;
    
    padding-right: 1rem;
}

.pos-lines.w-12{
    padding-right: 0rem;
}

.pos-lines-inner{
    width: 100%;
    height: calc(8.225rem * 2.555 + .2px);
    overflow-y: scroll;
    /* min-height: 6rem; */
    background-color: white;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.2);

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.pos-line{
    width: 100%;
    border-bottom: .5px solid rgba(0,0,0,0.2);
    padding-top: 1rem;
    padding-bottom: 1rem;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.pos-line.pos-info-client{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    padding: 1rem;
    border-top: .25px solid rgba(0,0,0,0.2);
    padding-right: 2rem;
}

.pos-line.pos-info-client p{
    color: var(--shiny-blue);
}

/* .pos-client-info{
    width: 100%;
    background-color: white;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.2);

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    padding: 1rem;
} */

.pos-lines-products{
    height: calc(8.225rem * 2);
    /* border: 1px solid black; */
    overflow-y: scroll;
}

.pos-lines-products::-webkit-scrollbar {
    width: 10px;
  }
  

.pos-lines-products::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
  

  .pos-lines-products::-webkit-scrollbar-thumb {
    background: #888; 
  }
  

  .pos-lines-products::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

.pos-product-img{
    max-width: 20%;
    width: 7.7vw; /* 20% */
    height: 7.7vw;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.pos-product-detail{
    width: 40%;
    padding-top: .5rem;
    /* background-color: red; */

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.pos-product-img img{
    width: 100%;
    height: 100%;
    padding: .8rem;
}

.pos-product-img svg{
    width: 70%;
    height: 70%;
    padding: .8rem;
    color: var(--shiny-blue);
}

.pos-product-subtotal{
    width: 40%;
    /* background-color: red; */
    padding-right: .5rem;
    padding-top: .5rem;
    
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-end;
}

.pos-product-subtotal .btn{
    margin-top: .5rem;
}

.qty-counter{
    width: 100%;
    /* background-color: blue; */
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
}

.qty-counter p{
    margin-top: .5rem;
    margin-right: .5rem;
    margin-bottom: .5rem;
}

.qty-counter input{
    width: 1.5rem;
    height: 55%;
    background-color: var(--form-item-color);
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid var(--black);
    color: var(--black);
    caret-color: var(--black);
    font-size: .8rem;
    font-family: 'GoogleSans-Regular';
    outline: none;
    /* padding: .5rem; */
    /* border-radius: 5px; */
    -webkit-font-smoothing: antialiased;
    background-color: transparent;
    text-align: center;
}

.pos-pay{
    width: calc(100% / 3);
    height: 100%;
    background-color: white;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.2);
}

/* .pos-pay.pay-company{
    max-height: calc(4.3rem * 1);
}

.pos-pay.pay-establishment{
    max-height: calc(4.3rem * 2);
} */

.pos-pay-line{
    padding: 1.5rem;
    border-bottom: 1px solid rgba(0,0,0,0.2);

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.pos-checkout{
    padding: 1.5rem;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.pos-checkout .btn{
    width: 50%;
    margin-bottom: 1rem;
}

.pos-checkout-info{
    align-self: flex-start;
}

.main-companies{
    width: 100%;
    /* padding-top: calc(var(--padding) * 1.4); */

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.companies-affiliated{
    width: 100%;
    min-height: 10rem;
    padding: 5rem;
    margin-left: 1rem;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.company-recycle-detail{
    width: 25%;
    min-height: 10rem;
    /* border: 1px solid black; */
    padding-right: 1rem;
    margin-bottom: 1rem;
}

.company-recycle-detail-inner{
    width: 100%;
    min-height: 10rem;
    background-color: var(--light-gray);
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-radius: 5px;
    text-align: center;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.company-recycle-detail-inner p:last-child{
    margin-top: 1rem;
}

.company-recycle-detail-inner img{
    width: 30%;
    height: 30%;
    margin-bottom: .25rem;
    max-width: 3.5rem;
    object-fit: contain;
}

.company-name{
    margin-bottom: .5rem;
}

.card{
    position: absolute;
    top: 2rem;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transform: translateX(-100%) ;
    transition: opacity .5s ease, transform .5s ease .7s;
}


.card.active{
    opacity: 1;
    transform: translateX(0%) ;
    transition: opacity .5s ease .7s, transform .5s ease;
}




/**************************************************************************
**************************************************************************/


#virtual-text{
    transition: opacity .3s ease;
}


